button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.6;
}

button:hover {
  opacity: 1;
}

.correct {
  background-color: #4caf50;
}

.incorrect {
  background-color: #f44336;
}
